# Dependencies
**/node_modules/
**/.pnp
.pnp.js

# Logs
*.log

# production
**/dist
**/dist-ssr
**/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*

# vercel
.vercel
**/.next
**/.turbo/

# typescript
*.tsbuildinfo
next-env.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pem